<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path("home") }}">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path("backend_dashbord") }}">Tableau de bord</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    Articles
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path("backend_show_articles") }}">Voir les articles</a>
                    </li>
                    <li>
                        <a href="#">Ajouter un article</a>
                    </li>
                </ul>
            </li>
        </ul>
        {% if app.user %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"> {{ app.user.username }} </span></a></li>
            <li><a class="logout" href="{{ path("logout") }}"><span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
        {% endif %}
    </div>
</nav>