{# app/Resources/views/article/show_articles.html.twig #}

{# On hérite de notre vue de base #}
{% extends "::base.html.twig" %}

{# On redefini notre contenu #}
{% block page_content %}
    <article id="showArticles">
        {% for article in articles_list %}
            <div class="row" >
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="pull-left">{{ article.title }}</h3>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4 class="pull-right">
                                            <small><em>{{ article.createdAt|date("d/m/Y") }}</em></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ article.content|raw }}
                                </div>
                            </div>
                        </div>
                        <div class = "test panel-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    {% for categorie in article.categories %}
                                        {% if loop.last %}
                                             {{ categorie.name }}
                                        {% else %}
                                            {{ categorie.name }} /
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="{{ path("show_article", { 'id': article.id }) }}">En savoir plus <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock %}
